<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
</head>
<body>
<div id="wa">
    <link
            rel="stylesheet"
            href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
            integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
            crossorigin="anonymous"
    />
    <link rel="stylesheet" type="text/css"
          href="<%= htmlWebpackPlugin.options.prefix%><%=htmlWebpackPlugin.files.css %>">
    <div id="root"></div>
    <script src="<%= htmlWebpackPlugin.options.prefix%><%=htmlWebpackPlugin.files.js %>"></script>
</div>
</body>
</html>